button {
    width: 300px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 55px;

}

button:hover {
    background-color: #0cb31a;
}

.boton-clic {
    background-color: #002aed;
}

.boton-reiniciar {

    background-color: red;

}